/* Geral */
* {
  padding: 0;
  margin: 0;
}

/* botão-portfólio */

.botao-portfolio {
  width: 103px;
  height: 30px;
  background-color: #744ecb;
  border-radius: 100px;
  padding-top: 10px;
}

.botao-portfolio a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

span {
  font-weight: bold;
}

/* Criando a nav-bar */

header {
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  max-width: 100%;
  height: 100px;
  background-color: #000;
  border-bottom: 3px solid #744ecb;
}

/* Criando a logo da nav-bar */

header nav .logo {
  width: 60px;
  height: 70px;
}

header nav .logo .img-nav {
  max-width: 100px;
  max-height: 100px;
}

/* Criando a nav */

header nav .nav-bar {
}

header nav .nav-bar ul {
  list-style: none;
  justify-content: space-between;
}

header nav .nav-bar ul li {
  display: inline;
  padding-left: 60px;
}

header nav .nav-bar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

/* Body-Main */

main {
  width: 100%;
  height: 100%;
}

/* Colocando a imagim a baixo da nav */

.article-img-home {
  width: 100%;
  height: 150px;
  background: url("../img/imgs2/img-home.png") no-repeat center;
  background-size: cover;
  opacity: 90%;
}

/* Article1 msg-home */

.article1-msg-home {
  width: 100%;
  height: 500px;
  background-color: #000;
  position: relative;
  z-index: -1;
}

/* Botão-perfil */

.botao-perfil {
  width: 30px;
  height: 30px;
  background-color: #744ecb;
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 150px;
}

.descricao {
  width: 300px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  padding-left: 70px;
}

.item:hover .descricao {
  visibility: visible;
  opacity: 1;
  color: #fff;
}

/* MSG-Home */

.div-msg-home {
  width: 100%;
  height: 50%;
  position: relative;
  top: 100px;
  text-align: center;
}

.frase-home {
  color: #fff;
  margin-top: 70px;
  display: inline-block;
}

.frase-home:after {
  content: "";
  width: 100px;
  background-color: #744ecb;
  display: block;
  height: 2px;
  width: 250px;
  margin: 20px auto;
}

.autor {
  color: #fff;
  align-content: center;
}

/* botão-portfólio-MSG1 */

.botao-portfolio-MSG1 {
  position: absolute;
  bottom: 10px;
  right: 150px;
  margin-bottom: 40px;
}

/* H1-sobre */

.h1-sobre {
  text-align: center;
  padding-top: 25px;
}

.h1-sobre:after {
  content: "";
  background-color: #744ecb;
  display: block;
  width: 100px;
  height: 2px;
  margin: auto;
}

/* Article2-sobre */

.article2-sobre {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.article2-proposito {
  padding-left: 150px;
}

.article2-proposito-pergunta {
  margin-top: 50px;
  font-size: 24px;
}

.article2-proposito-resposta {
  height: 100px;
  width: 400px;
  margin-top: 10px;
  font-size: 18px;
  padding: 20px 0;
}

/* article2-botao-saibamais */

.article2-botao-saibamais {
  width: 100px;
  height: 25px;
  background-color: lightgray;
  text-align: center;
  padding-top: 5px;
  margin-top: 15px;
}

.article2-botao-saibamais a {
  padding: 5px;
  text-decoration: none;
  color: #000;
}

/* Sobre-Gilberto */

.article2-sobre-pergunta {
  margin-top: 50px;
  padding-right: 130px;
}

.article2-sobre-resposta {
  height: 100px;
  max-width: 400px;
  margin-top: 10px;
  font-size: 18px;
  padding: 20px 0;
}

/* botão-portfólio-sobre */

.botao-portfolio-sobre {
  position: relative;
  top: 400px;
  right: 150px;
  margin-bottom: 40px;
}

/* Resto */
.article {
  background-color: #000;
  color: #fff;
  height: 1000px;
  padding-top: 50px;
  padding-left: 150px;
}
