* {
	padding:0;
	margin:0;
}


/* Criando a nav-bar */

.nav-bar{
	max-width:100%;
	height:100px;
	background-color:#000;
	border-bottom: 3px solid #744ecb;
}

/* Cirando a logo da nav-bar */

.nav-bar .logo{
	padding:23px 150px;
	max-width:100px;
	max-height:100px;
}

.nav-bar .logo img{
	max-width:80px;
	max-height:80px;
}

/* Criando a nav */

.nav-bar .nav{
	top:0;
	right:0;
	position: absolute;
	margin-right:150px;
}

.nav-bar .nav ul{
	list-style: none;
}

.nav-bar .nav ul li{
	float: left;
	padding-left:55px;
	margin-top:45px;
}

.nav-bar .nav ul li a{
	color:#fff;
	text-decoration: none;
}

span{
	font-weight: bold;
}

/* Colocando a imagim a baixo da nav */

.div-img-home{
 max-width:100%;
 height:100px;
 z-index: -9;
 position: relative;
}

.div-img-home img{
	max-width:100%;
	height:auto;
	position: absolute;
	top:-135px;
}

.article{
	background-color:#000;
	color:#fff;
	height:1000px;
	padding-top:50px;
	padding-left: 150px;
}

