* {
  padding: 0;
  margin: 0;
}

/* Criando a nav-bar */

.nav-bar {
  max-width: 100%;
  height: 100px;
  background-color: #000;
  border-bottom: 3px solid #744ecb;
}

/* Criando a logo da nav-bar */

.nav-bar .logo {
  padding: 23px 130px;
  max-width: 100px;
  max-height: 100px;
}

.nav-bar .logo img {
  max-width: 80px;
  max-height: 80px;
}

/* Criando a nav */

.nav-bar .nav {
  top: 0;
  right: 0;
  position: absolute;
  margin-right: 150px;
}

.nav-bar .nav ul {
  list-style: none;
}

.nav-bar .nav ul li {
  float: left;
  padding-left: 55px;
  margin-top: 45px;
}

.nav-bar .nav ul li a {
  color: #fff;
  text-decoration: none;
}

span {
  font-weight: bold;
}

/* Colocando a imagim a baixo da nav */
.article-img-home{
  width:100%;
  height:150px;
  background: url("../img/imgs2/img-home.png") no-repeat center;
  background-size:cover;
  opacity: 90%;
}

/* Colocando a msg-home */

.article-msg-home {
  width: auto;
  height: 450px;
  background-color: #000;
  position: relative;
}

.msg-home {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 100px;
  left: 300px;
  text-align: center;
}

.frase-home {
  color: #fff;
  align-content: center;
  margin-top: 70px;
  display: inline-block;
}

.frase-home:after {
  content: "";
  width: 100px;
  background-color: #fff;
  display: block;
  height: 2px;
  width: 250px;
  margin: 20px auto;
}
.autor {
  color: #fff;
  align-content: center;
}

/* Botao-perfil */

.botao-perfil {
  width: 30px;
  height: 30px;
  background-color: #744ecb;
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 150px;
}

.descricao {
  width: 300px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  padding-left: 70px;
}
.item:hover .descricao {
  visibility: visible;
  opacity: 1;
  color: #fff;
}

.article {
  background-color: #000;
  color: #fff;
  height: 1000px;
  padding-top: 50px;
  padding-left: 150px;
}

/* botão-portfólio */

.botao-portfolio {
  position: absolute;
  bottom: 10px;
  right: 150px;
  width: 100px;
  height: 30px;
  background-color: #744ecb;
  border-radius: 100px;
  padding-top: 10px;
}

.botao-portfolio a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
