* {
	padding:0;
	margin:0;
}

/* Criando a nav-bar */

.nav-bar{
	max-width:2000px;
	height:150px;
	background-color:#000;
	position: relative;
}

/* Cirando a logo da nav-bar */

.nav-bar .logo{
	padding:45px 150px;
	max-width:100px;
	max-height:100px;
}

.nav-bar .logo img{
	max-width:80px;
	max-height:80px;
}

/* Criando a nav */

.nav-bar .nav{
	top:0;
	right:0;
	position: absolute;
	margin-right:150px;
}

.nav-bar .nav ul{
	list-style: none;
}

.nav-bar .nav ul li{
	float: left;
	padding-left:55px;
	margin-top:70px;
}

.nav-bar .nav ul li a{
	color:#fff;
	text-decoration: none;
}

span{
	font-weight: bold;
}
